<?xml version="1.0" encoding="UTF-8"?>
<!-- 
     Configuration for Microsoft IIS that enables the usage of non-crufty URLs.
     Copied from http://code.gishan.net/code/web-config-for-pivotx-to-run-on-iis-url-rewrite/
     See http://forum.pivotx.net/viewtopic.php?p=15593#p15593 
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
            <rule name="Page">
                    <match url="^page/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?uri={R:1}&amp;rewrite=page" />
            </rule>
            <rule name="Category">
                    <match url="^category/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?c={R:1}&amp;rewrite=category" />
            </rule>
            <rule name="Tag">
                    <match url="^tag/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?t={R:1}&amp;rewrite=tag" />
            </rule>
            <rule name="Entry">
                    <match url="^entry/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?e={R:1}&amp;rewrite=entry" />
            </rule>
            <rule name="Search">
                    <match url="^search$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?rewrite=search" />
            </rule>
            <rule name="Expand">
                    <match url="^browse/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?o={R:1}&amp;rewrite=offset" />
            </rule>
            <rule name="RSS">
                    <match url="^rss(/.*)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="rss.php" />
            </rule>
            </rules>
        </rewrite>
        
    </system.webServer>
    <system.web>
        <customErrors mode="On" defaultRedirect="/error/500.html"> 
            <error statusCode="404" redirect="/error/404.html"/> 
        </customErrors>
    </system.web>
</configuration>
