

html {
    /* width: 320px; /* Convenient for development, but disallows using the mobile site in landscape format. */
}

html, body, #wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

small {
    font-size: 11px;
    line-height: 13px;
    color: #666;
    width: 270px;
    display: block;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    background-image: url(m_header.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: #FFF;
    padding-bottom: 11px;
}

#logo {
    float: left;
    padding: 8px 0 0 8px;
    width: 120px;
    height: 22px;
}

#usermenu {
    float: left;
    padding: 18px 0px 0 0;
    width: 176px;
    line-height: 12px;
    text-align: right;
    font-size: 12px;
    height: 12px;    
}

#mainmenu a, #submenu a {
    color: white;
    text-decoration: none;
}

#mainmenu {
    width: 320px;
    height: 40px;
}

#mainmenu ul {
    list-style-type: none;
    display: inline;
}

#mainmenu li {
    float: left;
    border-right: 1px solid #CCC;
    margin: 10px 0 0 0;
    padding: 4px 8px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;    
    text-align: center;
    height: 26px;
    overflow: hidden;
    text-shadow: 1px 1px 1px #000;    
}

#mainmenu li:last-child {
    border-right: none;
}

#mainmenu li.active {
    background-color: #657C82;
}

#submenu {
    width: 100%;
    background-color: #677F85;
    height: 32px;
    display: none;
    border-top: 1px solid #555;
}

.visible { 
	/* Hack for some browsers, that don't recognise the submenu as a block level element. */
	display: block !important;
}

#submenu ul {
    list-style-type: none;
    display: inline;
    margin-bottom: 0;
}


#submenu li {
    float: left;
    border-right: 1px solid #CCC;
    margin: 8px 0 0 0;
    padding: 0px 8px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;       
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;    
    
}

#submenu li:last-child {
    border-right: none;
}

#submenu li.active {
    background-color: #70939C;
}


#content {
    padding: 0px 2px 24px 4px;

    
}


#footer {
    position: relative;
    margin-top: -19px; 
    height: 12px;
    clear:both;
    border-top: 1px solid #999;
    background-color: #DDD;
    padding: 3px 6px;
    color: #666;
} 

#footer a {
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #AAA;
}

a.button {
    -webkit-appearance:push-button;
    font-weight: bold;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    
}

.cleaner {
    clear: both;
    font-size: 0px;
    line-height: 0px;
}


.content {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 15px;
}

.content h1 {
    font-weight: bold;
    font-size: 19px;
    padding-left: 0px;
    margin-top: 10px;
    max-height: 20px;
    line-height: 20px;
    overflow: hidden;
    
}


.content h2 {
    font-weight: bold;
    font-size: 16px;
    padding-left: 0px;
    margin-bottom: 4px;
}

.content h2 span {
    font-size: 12px;
    float: right;
    padding: 4px 8px 0 0;
}

.content form {
    margin-bottom: 0;
}



.content a {
    color: #E45000; /* #30503A; #00A;  (green looks too 'gray', and blue is too ordinary) */
    text-decoration: none;
    font-weight: bold;
}

.content p + hr, .content hr + p {
    margin-top:-0.8em;
}

.moderatelink {
    float: right;

}

.moderatelink img {
    padding: 10px 6px 10px 4px;
}

div.dashboardlist {
    font-size: 13px;
    line-height: 16px;
    margin: 0px;
    background-color: #FFF;
    word-wrap: break-word;
    padding-top: 2px;
}

div.dashboardlist p {
    padding: 4px 2px 0;
    margin: 0;
}

div.dashboardlist p.meta {
    font-size: 11px;
    color: #888;
    border-bottom: 1px solid #CCC;
    padding: 2px 2px 4px;
    line-height: 14px;

}

div.dashboardlist p.meta a {
    color: #E45000;
}


p.two-lines {
    max-height: 32px;
    overflow: hidden;
}

p.three-lines {
    max-height: 48px;
    overflow: hidden;
}

p.four-lines {
    max-height: 64px;
    overflow: hidden;
}

div.moderate {
    background-color: #DDEEFF !important;
    color: #777;
}

div.blocked {
	background-color: #DDD !important;
	color: #999 !important;
}

div.blocked p.two-lines, div.blocked p.three-lines, div.blocked p.four-lines  {
	text-decoration: line-through;
}

div.odd {
    background-color: #F2F2F2;
}

h2 + div.dashboardlist {
    border-top: 1px solid #BBB;
}



/**
 * Formclass related..
 */

.content table, .content td, .content th {
    border: 0;
}

.formclass .required {
    color: #900;
    font-size: 90%;
}



.formclass label {
    font-weight: bold;
}

.content input[type="text"], input[type="password"], .content textarea {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 3px 3px 1px 3px;
    width: 96%;
}

.content .Editor {
    height: 130px;
    margin:0;
    padding: 0px 0 0 3px;
    
}

.content select {
    width: 96%;
    padding: 0;
}

.content input[type="radio"] {
    border: 1px solid #F00;
    bottom: 0;
}

.content th, .content td {
    padding: 6px 6px 6px 0px;
}

.messages {
    border: solid 1px #99CC99;
    background-color: #D9F2B1;
    color: #005500;
    padding: 4px;
    text-align: center;
    margin-bottom: 8px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    width: 96%;
}

.messages p {
    margin: 0;
    background-image: url(../../pics/accept.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 24px;
}


/* Simple tabs */

#edit-simpletabs {
    padding: 4px 0 0;
    margin: -8px 0 0 0;
    border-bottom: 1px solid #999;
}


#edit-simpletabs span {
    cursor: pointer;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #DDD;
    padding: 4px 6px;
    margin: 0;
}

#edit-simpletabs .first {
    border-left: 1px solid #999;
    margin-left: 3px;
}

#edit-simpletabs span.active {
    border-bottom: 1px solid #FFF;
    background-color: #FFF;
}

#edit-simpletab1, #edit-simpletab2, #edit-simpletab3, #edit-simpletab4 {
    padding: 4px 0 0 0;
    margin: 0;
    display: none;
}


/**
 * Awesome buttons from zurb.com
 * @see:
 *
 */
.awesome, .awesome:visited {
	background: #425155; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: 0;     
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;

}

.small.awesome {
    font-size: 11px;
}

.medium.awesome {
    font-size: 13px;
    font-weight: bold;
}

a.medium.awesome {
    padding: 2px 12px 0px;    
}


.large.awesome {
    font-size: 14px;
    padding: 6px 12px 7px;
    font-weight: bold;
}

a.large.awesome {
    padding: 6px 16px 2px;    
    color: #FFF;
}

.gray.awesome {
    background-color: #CCC;
    color: #000;
}
