<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PivotX 404 page</title>
</head>

<body>
<h1>PivotX: Page not found (404)</h1>

<p>You requested a page, but PivotX didn't know how to display it.</p>

<ul>
    <li>Have you set up PivotX yet? If not, do so now by going into <a
        href="pivotx/index.php">PivotX</a>.</li>
    <li>Is there a weblog configured? If not, you should make a weblog.</li>
    <li>Does your weblog have a frontpage template assigned to it? And does the assigned template still exist?</li>
    <li>Does the requested page have a template assigned to it? And does the assigned template still exist?</li>
</ul>

</body>
</html>
